.main{
    display:flex;
}

.div1 {
    border: 2px solid black;
    width: 400px;
    height: 400px;
    background-color: rgb(202, 132, 45);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXM6R_l7ZJjSOH7g8oYqg97ftNDgRe9VncfQ&usqp=CAU);
    background-repeat:no-repeat;
    background-size: 350px 350px;
    
}

.div2 {
    border: 2px solid rgb(39, 37, 37);
    width: 400px;
    height: 400px;
    background-color: rgb(87, 223, 24);
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTb7il43z4Xib2o7x5HbL633V2FKzxIviRfOw&usqp=CAU);
background-repeat: no-repeat;
background-size: 350px 350px;
margin-left: 2%;

}

.div3 {
    border: 2px solid rgba(33, 34, 34, 0.897);
    width: 400px;
    height: 400px;
    background-color: rgba(42, 81, 117, 0.527);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrGdH7bgKal0MO8IAT4VRSEFvMQH0TJuUdlw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 350px 350px;
    margin-left: 2%;
}

 h4 {
    text-align: center;
    position: absolute;
    margin-top: 22%;
    margin-left:10%;
    color:blueviolet;
    cursor: pointer;
    font-family: cursive;

}

button {
    margin-left: 10%;
    margin-top:20%;
    position: absolute;
    cursor: pointer;
} 